.breathVertical {
    margin-top:5px;
    margin-bottom:5px;
}

.breathHorizontal {
    margin-left:5px;
    margin-right:5px;
}

.todoStatusACTIVE {
    color : black;
}

.todoStatusCOMPLETE{
    color : green;
    text-decoration : line-through;
}

.todoStatusDELETED {
    color : red;
    text-decoration : line-through;
}

.line{
    width: 100%;
    margin-top: 5px;
    height: 1px;
    border-bottom: 1px solid black;
    position: relative;
}

.transparentButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: red;
}

table {
    border: 0px;
    margin: 0cm 0cm 0cm 2cm;
    display: table;
}

.breathLeft {
    margin: 0cm 0cm 0cm 1cm;
}

.hideClass{
    color: blue;
    margin: 0cm 0cm 0cm 9cm;
    text-decoration: underline;
}

#new_todo_input{
    margin: 0cm 0cm 0cm 1cm;
    outline: none;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;

}

textarea:focus, input:focus{
    outline: none;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    border-color: #428bca;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    border-color: #428bca;
    color: #fff; }