.breathVertical {
    margin-top:5px;
    margin-bottom:5px;
}

.breathHorizontal {
    margin-left:5px;
    margin-right:5px;
}

.todoStatusACTIVE {
    color : black;
}

.todoStatusCOMPLETE{
    color : green;
    text-decoration : line-through;
}

.todoStatusDELETED {
    color : red;
    text-decoration : line-through;
}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.transparentButton {

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: red;
}

checkbox{
    color: blue;
    background-color: blue;
}

table {
    border: 0px;
    margin: 0cm 0cm 0cm 2cm;
    display: table;
}

.breathLeft {
    margin: 0cm 0cm 2cm 1cm;
}

.hideClass{
    color: blue;
    margin: 0cm 0cm 2cm 9cm;
    text-decoration: underline;
}

#new_todo_input{
    margin: 0cm 0cm 0cm 2cm;
}